<?xml version="1.0" encoding="UTF-8"?> <Configuration status="INFO"> 
    <Appenders> 
        <Console name="Console" target="SYSTEM_OUT"> 
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" /> 
        </Console> 
<!--        <File name="MyFile" fileName="all.log" immediateFlush="false" append="false"> 
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> 
        </File> -->
        
        <RollingFile name="Rolling" fileName=".\nssync.log" filePattern="/Users/mhajducek/temp/nssync/nssync-%d{ddMMyyyy}-%i.log.log">
            <PatternLayout pattern="%d %p %c: %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders> 
    <Loggers> 
        <Root level="debug"> 
            <AppenderRef ref="Console"/> 
            <!--<AppenderRef ref="MyFile"/>--> 
            <AppenderRef ref="Rolling"/> 
        </Root> 
    </Loggers> 
</Configuration>